<div class="users-container">
  <% @users.each do |user| %>
    <div class="user-container">
      <%= link_to user_path(user.id), class:"link-info" do %>
        <div class="user-info">
          <h3><%= user.name %></h3>
          <p>Number of posts: <%= user.posts_counter %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>